<!DOCTYPE html>
<html>
<head>
  <title>Loginapp</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/style2.css" />
</head>
<body>

      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">GoodLuck Finance Company</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
              <li><a href="/users/findborrower"> View borrower</a></li>
              <li><a href="/users/id"> ViewBorrowerById</a></li>
              <li><a href="/users/groups">Groups</a></li>
              <li><a href="#">Branch</a></li>

              <li><a href="/users/logout">logout</a></li>
            </ul>
            <form class="navbar-form navbar-right">
              <input type="text" class="form-control" placeholder="Search...">
            </form>
          </div>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
              <li class="active"><a href="#" > Overview <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Reports</a></li>
              <li><a href="/users/registerborrower">Add Borrower</a></li>
              <li><a href="/users/id1">Borrower Account</a></li>
              <li><a href="">Statement</a></li>
              <li><a href="">Close Account</a></li>
              <li><a href="">view borrower</a></li>
              <li><a href="">viewborrowerbyid</a></li>
              <li><a href="">Add Group</a></li>
                <li><a href="">Registered employee</a></li>
            </ul>
            <ul class="nav nav-sidebar">

            </ul>
          </div>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <style>
  .div2 {
      width: 500px;
      height: 400px;
      padding: 100px;
      border: 5px solid black;
  }

  </style>
  <div class="div2">Notifications</div>
            </div>
          </div>
        </div>
      </div>
  </body>
  </html>

</body>
</html>
